* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator--body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    /* height: 40vh; */
    border: 1px solid black;
    /* border-radius: 1px; */
    /* padding: 2px; */
}

.display--screen {
    font-size: 36px;
    color: rgb(255, 255, 255);
    padding-right: 6px;
    text-align: right;
    width: 100%;
    background-color: rgb(81, 81, 81);
    height: 50px;
}

button {
    height: 40px;
}

.calculator--buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    padding: 4px;
}

.equal-sign {
    height: 100%;
    grid-row: 2 / 5;
    grid-column: 4 / 5;
}

.zero {
    grid-row: 5;
    grid-column: 1 / 3;
}